################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/steganographia_kurs/bin/Debug/[1].jpg
/steganographia_kurs/bin/Debug/[h]2.jpg
